*.vscode
*.venv
*.env
*.xlsx


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*django-venv
# *.ipynb
.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### Custom Data ###
custom/
nvirosense_code/
*.crt*
*.xlsx
*.csv
.vscode/
*.yml